* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.square {
  width: calc((100% / 7) - 2rem);
  margin: 1rem;
  height: 125px;
  background-color: #1389b2;
  display: flex;
  align-items: center;
  justify-content: center;
}